<!DOCTYPE html>
<html>
<head lang="jp">
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="./javascripts/button_click_monitor.js"></script>
	<title>slack logger</title>
	<!--<link rel="stylesheet" href="css/loveCC.css">-->
</head>
<body>
  <div id="site-box">
  <div class = "head">
    <ul class="globalNav">
      <li id="本日の豆知識">
          <a href="#">
              <strong>本日の豆知識</strong>
              <span>public channel</span>
          </a>
      </li>
      <li id="00_general">
          <a href="#">
              <strong>00_general</strong>
              <span>public channel</span>
          </a>
      </li>
    </ul>
  </div>
	<a href="https://qiita.com/ekzemplaro/items/f62d9c9fe61e7eeb3b8f">
			<strong>00_general</strong>
			<span>public channel</span>
	</a>

  <footer>
    <address>Team Bright Light</address>
  	<address>ISDL Hackathon.</address>
  </footer>
</body>
</html>
